  #mainbody{
    background-color:rgb(69, 228, 69);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    padding: 10px;
    height:800px;
  }
  #heading{
    font-size:xx-large;
    font-weight: bold;
    padding-top: 25px;
  }

  #lists {
    display: grid;
    grid-auto-columns: 275px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 400px;
 
  }  
  #Todo,#InProgress,#Completed{
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
  }
  
  #listheading {
    font-size: 18px;
    font-weight: bold;
  }

  #btn{
      cursor: pointer;
      height: 30px;
      width: 250px;
      margin-top: 15px;
      background-color: rgb(13, 13, 241);
      color: white;
    }
    input{
        height: 40px;
        border: 0px;
        width: 250px;
    }

    .ListofToDo{
      display: flex;
      margin-top: 5px;
      background-color: white;
    }

    .text{
      width: 180px;
      outline: none;
      margin-left: 2px;
    }
    
    .edit{
      margin-top: 10px;
      right: 40px;
      cursor: pointer;
    }
    .edit:hover{
      background-color: white;
      padding: 5px;
      color: black;
    }

    .delete{
      right: 10px;
      margin-right: 3px;
      margin-left: 2px;
      cursor: pointer;
    
    }
    .delete:hover{
      background-color: red;
      padding: 5px;
      color: white;
    }


    




